.btn {
  font-family: var(--font-primary);
  transition: all 0.2s;
  padding: 10px 20px;
  font-size: 1rem;
  background: var(--medium);
  color: var(--bright);
  outline: none;
  cursor: pointer;
  height: 50px;
  border-radius: 30px;
  border: 2px solid;
  text-align: center;
}

.btn-private {
  font-family: var(--font-primary);
  text-align: center;
  transition: all 0.2s;
  padding: 10px 20px;
  font-size: 1rem;
  text-transform: lowercase;
  color: var(--bright);
  background: var(--medium);
  outline: none;
  cursor: pointer;
  height: 20px;
  border-radius: 30px;
  border: 2px solid;
  float: right;
  margin-bottom: 20px;
}

.btn-like {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  background: transparent;
  width: fit-content;
  cursor: pointer;
  border: none;
  display: flex;
  margin: 10px;
}

.btn-header {
  border: none;
  font-size: 1rem;
  font-family: var(--font-primary);
  color: var(--medium);
  padding: 1rem;
}

.btn:hover {
  color: var(--medium);
  border: 2px solid var(--medium);
  font-weight: bold;
}

.btn.bright {
  color: var(--medium);
}

.btn.error {
  background-color: var(--ko);
}

.btn.error:hover {
  color: var(--bright);
}

.btn[disabled] {
  opacity: 0.5;
  background: var(--medium);
  color: var(--bright);
  font-size: 1rem !important;
  transition: none;
  font-weight: normal;
  outline: none;
  border: none;
}
.btn-event-user {
  font-family: var(--font-primary);
  transition: all 0.2s;
  padding: 10px 20px;
  font-size: 1rem;
  background: var(--medium);
  color: var(--bright);
  outline: none;
  cursor: pointer;
  height: 20px;
  margin-left: 20px;
  margin-right: 50px;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .btn-event-user {
    margin: 0px;
    font-size: 0.9rem;
    height: auto;
    margin-right: 15px;
  }
}
@media (max-width: 600px) {
  .btn-private {
    font-family: var(--font-primary);
    text-align: center;
    transition: all 0.2s;
    padding: 10px 20px;
    font-size: 0.5rem;
    text-transform: lowercase;
    color: var(--bright);
    background: var(--medium);
    outline: none;
    cursor: pointer;
    height: 20px;
    border-radius: 30px;
    border: 2px solid;
    float: right;
    margin-bottom: 20px;
  }
}
