@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
.fc-unthemed td.fc-today {
  background: var(--secondary);
  opacity: 0.2 !important;
}
.fc-event {
  background: var(--medium) !important;
  font-family: var(--font-primary) !important;
  line-height: 2 !important;
  border-radius: 30px !important;
  border: 1px solid var(--medium) !important;
}
.fc-head {
  border-color: black;
  background: var(--secondary);
}
.fc {
  direction: ltr !important;
  text-align: center !important;
  color: var(--medium) !important;
  font-family: var(--font-primary) !important;
}

.nav {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 99px;
  outline: 0;
  background-color: transparent;
  color: var(--dark);
  cursor: pointer;
}

.header-calendar1 {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}

.logo-calendar h1 {
  font-family: var(--font-primary);
  border: none;
  border-collapse: unset;
  width: fit-content;
}
.header-calendar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.super-responsive {
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 600px) {
  .responsive-btn {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 5px;
  }

  .responsive-btn1 {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }

  .header-calendar1 {
    margin-left: 20px;
  }

  .logo-calendar h1 {
    font-family: var(--font-primary);
    border: none;
    border-collapse: unset;
    width: fit-content;
  }

  .header-calendar {
    padding: 20px;
  }
}
