.event-list-user {
  background: var(--medium);
  padding: 50px;
  margin-top: 25px;
  margin-right: 200px;
  margin-left: 200px;
  border-radius: 5px;
  display: flex;
}

.event-list-user h3 {
  color: var(--bright);
  margin-bottom: 20px;
}
