p {
  font-family: var(--font-primary);
}

a:hover {
  opacity: 0.6;
}
.hero {
  background: url("../images/baner.jpeg") no-repeat center fixed;
  background-size: cover;
  padding: 15rem 2rem;
  -webkit-box-shadow: -3px -4px 13px 36px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: -3px -4px 13px 36px rgba(0, 0, 0, 0.49);
  box-shadow: -3px -4px 13px 36px rgba(0, 0, 0, 0.49);
}

.hero > * {
  color: var(--bright);
}

.hero > h1 {
  font-size: 4rem;
  padding-top: 5rem;
}

.hero > article > p {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 200;
}

.hero > article > a {
  padding: 1rem;
  margin-top: 0.75rem;
}

.header-headboard {
  display: flex;
  justify-content: space-between;
}
.title-headboard {
  margin-top: 5rem;
  margin-left: 5rem;
}

@media (max-width: 1100px) {
  p {
    font-family: var(--font-primary);
  }

  a:hover {
    opacity: 0.6;
  }
  .hero {
    background: url("../images/baner.jpeg") no-repeat center fixed;
    background-size: cover;
    padding: 19rem 2rem;
    -webkit-box-shadow: -3px -4px 13px 36px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: -3px -4px 13px 36px rgba(0, 0, 0, 0.49);
    box-shadow: -3px -4px 13px 36px rgba(0, 0, 0, 0.49);
  }

  .hero > * {
    color: var(--bright);
  }

  .hero > h1 {
    font-size: 4rem;
    padding-top: 5rem;
  }

  .hero > article > p {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 200;
  }

  .hero > article > a {
    padding: 1rem;
    margin-top: 0.75rem;
  }

  .header-headboard {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 950px) {
  p {
    font-family: var(--font-primary);
  }

  a:hover {
    opacity: 0.6;
  }
  .hero {
    background: url("../images/baner.jpeg") no-repeat center fixed;
    background-size: cover;
    padding: 23rem 2rem;
    -webkit-box-shadow: -3px -4px 13px 36px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: -3px -4px 13px 36px rgba(0, 0, 0, 0.49);
    box-shadow: -3px -4px 13px 36px rgba(0, 0, 0, 0.49);
  }

  .hero > * {
    color: var(--bright);
  }

  .hero > h1 {
    font-size: 4rem;
    padding-top: 5rem;
  }

  .hero > article > p {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 200;
  }

  .hero > article > a {
    padding: 1rem;
    margin-top: 0.75rem;
  }

  .header-headboard {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 720px) {
  .hero {
    background: url("../images/baner.jpeg") no-repeat center fixed;
    background-size: cover;
    padding: 15rem 0.5rem;
    box-shadow: inherit;
  }

  .hero > * {
    color: var(--bright);
  }

  .hero > h1 {
    font-size: 4rem;
    padding-top: 5rem;
  }

  .hero > article > p {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 200;
  }

  .hero > article > a {
    padding: 1rem;
    margin-top: 0.75rem;
  }

  .header-headboard {
    display: flex;
    justify-content: flex-start;
  }
}
