p {
  font-family: var(--font-primary);
}

a:hover {
  opacity: 0.6;
}
.hero {
  background: url("../images/baner.jpeg") no-repeat center fixed;
  background-size: cover;
  padding: 13rem 2rem;
}

.hero > * {
  color: var(--medium);
}

.hero > h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.hero > article > p {
  font-size: 1.5rem;
  font-weight: 200;
}

.hero > article > a {
  padding: 1rem;
  margin-top: 0.75rem;
}

.header-headboard {
  display: flex;
  justify-content: space-between;
}
